{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolore, fuga cupiditate itaque soluta sunt ut
    possimus reprehenderit quibusdam perferendis veritatis et fugiat eum quod tempore iure nisi optio a perspiciatis est
    nesciunt deleniti ducimus totam. Perspiciatis optio accusantium fuga!</p>
<p>Dolorem deserunt, ad optio eos eaque neque blanditiis quisquam minima dicta id adipisci accusantium nulla
    exercitationem velit. Quod temporibus omnis earum vero, accusamus beatae recusandae amet, accusantium natus labore
    quibusdam corporis veniam! Nobis eaque, officiis quod consectetur soluta vel voluptatum!</p>
{% endblock %}